/* Import Poppins fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Common Share Style */
*{
    font-family: 'Poppins', sans-serif;
}


:root{
    --primary-color: #0D6EFD;
    --secondary-color: #0D6EFD0D;
}